<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Title</title>
    <script src="/js/bundle-main.js"></script>

</head>
<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">
               <i class="bi bi-house"></i>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" th:href="@{/agents}" th:text="#{navbar.link.allAgents}"></a>
                    <a class="nav-link" th:href="@{/agents/add}" th:text="#{navbar.link.addAgents}" sec:authorize="hasRole('ROLE_ADMIN')"></a>
                    <a class="nav-link" th:href="@{/properties}" th:text="#{navbar.link.allProperties}"></a>
                    <a class="nav-link" th:href="@{/properties/add}" th:text="#{navbar.link.addProperties}"></a>
                    <a class="nav-link" th:href="@{/agencies}" th:text="#{navbar.link.agencies}"></a>
                    <li class="nav-item dropdown">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" th:text="#{navbar.link.language}">Language</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="?lang=en">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="16" viewBox="0 0 24 16">
                                    <rect width="24" height="16" fill="#012169"/>
                                    <path d="M0,1 L24,15 M0,15 L24,1" stroke="#FFF" stroke-width="2"/>
                                    <path d="M0,1 L24,15 M0,15 L24,1" stroke="#C8102E" stroke-width="1"/>
                                    <path d="M12,0 L12,16 M0,8 L24,8" stroke="#FFF" stroke-width="4"/>
                                    <path d="M12,0 L12,16 M0,8 L24,8" stroke="#C8102E" stroke-width="2"/>
                                </svg>
                                    English
                            </a>
                            <a class="dropdown-item" href="?lang=nl">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="16" viewBox="0 0 3 2">
                                <rect width="3" height="0.67" y="0" fill="#21468B"/>
                                <rect width="3" height="0.67" y="0.67" fill="#FFFFFF"/>
                                <rect width="3" height="0.67" y="1.34" fill="#AE1C28"/>
                            </svg>
                                Nederlands
                            </a>
                            <a class="dropdown-item" href="?lang=fr">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="16" viewBox="0 0 3 2">
                                <rect width="1" height="2" x="0" fill="#0055A4"/>
                                <rect width="1" height="2" x="1" fill="#FFFFFF"/>
                                <rect width="1" height="2" x="2" fill="#EF4135"/>
                            </svg>
                                French
                            </a>
                        </div>
                    </li>
                </div>
            </div>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item me-2 pt-2" sec:authorize="isAuthenticated()">
                    <span class="navbar-text">Welcome, <span sec:authentication="name"></span>!</span>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <form class="d-flex" method="post" th:action="@{/logout}">
                        <button type="submit" class="btn btn-secondary">Logout</button>
                    </form>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link"
                       th:href="@{/login}">Login</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

</body>
</html>